{lib_dirs,["deps/"]}.

{deps,[
	{mongodb, ".*",{git, "git://github.com/mongodb/mongodb-erlang.git", {branch, "master"}}},
	{lager, ".*", {git, "git://github.com/basho/lager.git", {branch, "master"}}}
]}.


{copy, "configs/lager.app.src", "deps/lager/src/lager.app.src"}.


{sub_dirs,["apps/crawler_app/", "rel/"]}.
