{lib_dirs,["deps/"]}.

{deps,[
	{lager, ".*", {git, "git://github.com/basho/lager.git", {branch, "master"}}},
	{ibrowse, ".*", {git, "git://github.com/cmullaparthi/ibrowse.git", {branch, "master"}}},
	{mochiweb, ".*",{git, "git://github.com/mochi/mochiweb.git", {branch, "master"}}},
	{mongodb, ".*",{git, "git://github.com/mongodb/mongodb-erlang.git", {branch, "master"}}}
]}.


{copy, "configs/lager.app.src", "deps/lager/src/lager.app.src"}.


{sub_dirs,["apps/crawler_app/", "rel/"]}.
{sub_dirs,["apps/crawler_persistence_app/", "rel/"]}.
